@charset "UFT-8";

/*
    Breaking Point
-----------------------
Telas pequenas: até 600px
Celulares: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: de 1200px adiante
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 90vw;
        height: 390px;
    }

    section#login > div#imagem {
        float: left;
        width: 30vw;
        height: 100%;

    }

    section#login > div#formulario {
        float: right;
        width: 65%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        text-indent: 10px;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2.5em;
    }

    div#formulario > p {
        font-size: 1.2em;
        text-indent: 10px;
    }
}